/* generic */
* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: aliceblue;
}

nav > h2 {
  display: none;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}
/* end generic */

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  background-color: rgb(136, 136, 190);
  height: 150px;
  color: #fff;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 5px;
}

header nav {
  background-color: aquamarine;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: cornflowerblue;
}

header nav li {
  display: inline;
}

header nav li:not(:last-child)::after {
  content: ' / ';
}
/* end header */

/* .body */
.body {
  background-image: url(../img/background-body.png);
  background-repeat: repeat-y;
}

.body > * {
  float: left;
}

.body > aside {
  width: 218px;
  padding: 10px;
}

.body > main {
  width: calc(980px - 218px);
  padding: 10px;
}
/* end .body */

/* aside */
aside li {
  height: 50px;
  background-color: orange;
  margin-bottom: 10px
}

aside li a {
  display: block;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 50px;

  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.17,.67,.41,2.01);

  transition: all 400ms cubic-bezier(.17,.67,.41,2.01);
}

aside li a:hover {
  font-size: 1.6rem;
  background-color: salmon;
}
/* end aside */

/* .gallery */
.gallery > div {
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  width: calc(33.33% - 6px);
  height: 150px;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 1px 1px 1px gray;
}

.gallery > div:nth-child(3n) {
  margin-right: 0;
}

.gallery > div img {
  height: 100%;
}
/* end .gallery */