/*
Exercice :
- Utiliser les nested rules au maximum
- Définir une variable avec une couleur principale
- Définir une autre couleur pour les liens
- Remplacer toutes les couleurs du site par des dérivés
de ces 2 couleurs (en utilisant les fonction darken ou lighten, saturate...)
*/

// ITCSS
@import 'variables';
@import 'generic';
@import 'breadcrumb';
@import 'utilities';

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $mainColor;
  height: 150px;
  color: #fff;
  position: relative;

  h1 {
    margin: 0;
    padding: 5px;
  }

  nav {
    background-color: lighten($mainColor, 10%);
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;

    li {
      display: inline;

      &:not(:last-child)::after {
        content: ' / ';
      }
    }
  }
}

/* .body */
.body {
  display: flex;
  flex-grow: 1;

  > aside {
    width: 200px;
    padding: 10px;
    background-color: lighten($mainColor, 30%);
  }

  > main {
    flex-grow: 1;
    padding: 10px;
  }
}

aside ul li {
  height: 50px;
  background-color: orange;
  margin-bottom: 10px;

  a {
    display: block;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
  
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.17,.67,.41,2.01);
  
    transition: all 400ms cubic-bezier(.17,.67,.41,2.01);

    &:hover {
      font-size: 1.6rem;
      background-color: salmon;
    }
  }
}


/* .gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin-right: 9px;
    margin-bottom: 9px;
    width: calc(33.33% - 6px);
    height: 150px;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 1px 1px 1px gray;

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      height: 100%;
    }
  }
}
