/* generic */
* {
  box-sizing: border-box;
}

html, body, .container {
  min-height: 100vh;
}

html {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: aliceblue;
}

nav > h2 {
  display: none;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}
/* end generic */

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: "h h"
                       "a m";

  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    grid-template-areas: "h"
                         "a"
                         "m";
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 1fr;
  }
}

/* header */
header {
  grid-area: h;
  background-color: rgb(136, 136, 190);
  height: 150px;
  color: #fff;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 5px;
}

header nav {
  background-color: aquamarine;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: cornflowerblue;
}

header nav li {
  display: inline;
}

header nav li:not(:last-child)::after {
  content: ' / ';
}
/* end header */

/* .body */
/*
.body {
  display: flex;
  flex-grow: 1;
}

.body > aside {
  width: 200px;
  padding: 10px;
  background-color: yellow;
}

.body > main {
  flex-grow: 1;
  padding: 10px;
}
*/
/* end .body */

/* aside */
aside {
  grid-area: a;
  padding: 10px;
  background-color: yellow;
}

aside li {
  height: 50px;
  background-color: orange;
  margin-bottom: 10px
}

aside li a {
  display: block;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 50px;

  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.17,.67,.41,2.01);

  transition: all 400ms cubic-bezier(.17,.67,.41,2.01);
}

aside li a:hover {
  font-size: 1.6rem;
  background-color: salmon;
}
/* end aside */

/* main */
main {
  grid-area: m;
  padding: 10px;
}
/* end main */

/* .gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 9px;
  gap: 9px;
}

.gallery > div {
  /*
  margin-right: 9px;
  margin-bottom: 9px;
  width: calc(33.33% - 6px);
  height: 150px;
  */
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 1px 1px 1px gray;
}

.gallery > div:nth-child(3n) {
  margin-right: 0;
}

.gallery > div img {
  height: 100%;
}
/* end .gallery */